<form method="post" enctype='multipart/form-data' accept-charset="UTF-8" action='/'>
  File:
  <input type="file" class="openid" name="data_file" />
  <input type="submit" value="Parse into Database" />
</form>

<br>
<a href ='/logout'>logout</a>
