<form method="post" accept-charset="UTF-8" action='/login/openid'>
  OpenID Identifier:
  <input type="text" class="openid" name="openid_identifier" />
  <input type="submit" value="Verify" />
</form>
